<%if @cart%>
  <div class="col-md-12 carts_total">
    <div class="total_inner row">
      <h3>Total:</h3>
      <span style="vertical-align:middle; margin-left:15px;"><h5>Rs <%=calculate_total(@cart)%></h5><span>
    </div>
  </div>
  <div class="row col-md-12">
    <% @cart.items.each do |item| %>
      <div class='col-md-3 col-sm-12'>
        <div class="card card-margin" style="width: 25rem;">
          <% if item.avatar!=nil%>
            <%=image_tag item.avatar, class:"card-img-top",height:"250px" if item.avatar.attached? %>
          <%end%>
          <div class="row">
            <div class="card-body">
              <h3 class="card-title"><%=item.name%><h1>
            </div>
            <div class="card-body">
              <p class="card-text price">Rs <%=item.price%><p>
            </div>
          </div>

          <%@car=item.cart_items[0]%>
            <%= form_for @car do |f|%>
              <div class="form-group">
                <div class="col-md-12">
                  <%= f.number_field :quantity,required:true, class: "form-control"%>
                  <%= f.hidden_field :subtotal,value:sub_total(@car)%>
                </div>
              </div>
              <div class=" card_last row">
              <div class="card-body">
              <%= link_to "Delete", @car , :confirm =>"Are you sure?", :method =>:delete, class: "card-link link-color" %>
                <span><%= f.submit "Update Cart", class: "btn btn-default btn-primary"%></span>
              </div>
              </div>
              <div class="sub row">
                <h5> Sub Total: </h5>
                <p class="sub_p"> Rs <%=sub_total(@car)%></p>
              </div>
            <%end%>

        </div>
      </div>
    <%end%>
  </div>
  <div class="checkout_btn">
    <%if current_user%>
    <%# <%byebug%>
      <%if @cart.cart_items[0]%>
        <%= link_to "Checkout",cart_path(@cart.id),class: "btn btn-default btn-primary" %>
      <%end%>
    <%end%>
  </div>
    <%@ca=Cart.find_by(id: @cart.id)%>
    <%@ca.total=calculate_total(@cart)%>
    <%link_to carts_path(@ca.total)%>
<%end%>
